@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive, sans-serif;
}

body{
    /* background-color: #2f5d62; */
    font-size: 16px;
    background-color: #161925;
    color: #AFC1D5;
}

.header{
    border-bottom:solid rgba(175, 193, 213, 0.4);
    padding: 40px 0 5px 0;
    
}

h1{
    text-align: center;
    font-size: 60px;
}

.bookButton {
    color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(175, 193, 213, 0.2);
    border-color: #CBF7ED;
}

.bookButton:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


/* For form overlay - Adds a new book */
.overlay{
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0,0,0,0.9);
}

.newBookButton {
    margin-top: 100px;
}
#formHolder{   
    display: none;
    background-color: rgba(22, 25, 37, 1.0);
    border-radius: 8px;
    width: 400px;
    flex-direction: column;
    border-bottom: solid rgba(175, 193, 213, 0.4);
    border-style: solid;
    overflow: auto;
}

#formHolder h2{
    text-align: center;
    padding-bottom: 30px;
}

/* For the form in the formHolder */
form{
    padding: 0 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

#submitBook{
    width: 150px;
    background-color: rgba(175, 193, 213, 0.2);
    align-self: center;
    margin-top: 0;
}


#closeOverlay{
    background: none;
    border: 5;
    padding: 2px;
    margin: 5px 5px 0 0;
    width: 30px;
    position: relative;
    align-self: flex-end;
    border-color: #CBF7ED;
    border-radius: 5px;
    background-color: rgba(175, 193, 213, 0.2);
    color: white;
}

#readInput {
    margin: 30px 0;
}

#additionalInfoInput{
    height: 100px;
}

textarea {
    max-width: 100%;
}

/* Error handling for the form */
.error{
    border-color: crimson;
    height: 2.5em;
}

.spanError{
    margin: 0;
    height: 30px;
    color: crimson;
    font-size: 14px;
    text-align: center;
}

/* For the 'see additional information or update' overlay */
.bookOverlayWrapper{
    display: none;
    background-color: rgba(22, 25, 37, 1.0);
    border-radius: 8px;
    max-width: 550px;
    min-width: 300px;
    flex-direction: column;
    border-bottom: solid rgba(175, 193, 213, 0.4);
    border-style: solid;
    height: 75vh;
    overflow: auto;
}

#closeEditOverlay{
    background: none;
    border: 5;
    padding: 2px;
    margin: 5px 5px 0 0;
    width: 30px;
    position: relative;
    align-self: flex-end;
    border-color: #CBF7ED;
    border-radius: 5px;
    background-color: rgba(175, 193, 213, 0.2);
    color: white;
}

.viewBookInfo{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.viewBookInfo h2, p, .extraDIV, .readDIV{
    padding: 18px;
    line-height: 1.5em;
}

.readDIV label{
    margin-right: 20px;
}

.extraDIV{
    display: flex;
    flex-direction: column;
    flex: 1 0;
}

.viewBookInfo textarea{
    width: 80%;
    margin: auto 0;
    min-height: 150px;
    max-height: 300px;
}

.viewBookInfo h2{
    font-size: 30px;
    text-align: center;
    border-bottom: solid rgba(175, 193, 213, 0.4);
    width: 80%;
    align-self: center;
}

.viewBookInfo strong{
    /* color: #CBF7ED; */
    font-weight: bolder;
    text-decoration: underline;
    font-size: 20px;
}

.buttonHolder{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

/* Wrapper for the library contents */
.wrapper{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 30px;
}

/* Styling for the data */


.data{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid rgba(175, 193, 213, 0.4);
}

.data h2{
    padding: 20px 0 20px 0;
    font-size: 30px;
}

table{
    text-align: left;
    width: 200px;
    font-size: 20px;
}

tr{
    height: 40px;
}

td{
    padding-left: 20px;
}


/* To hold the books */
.bookWrapper{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 350px);
    grid-gap: 50px;
    justify-self: center;
    justify-content: center;
    padding-bottom: 30px;
}

/* Styling for the books */
.book{
    background-color: rgba(203, 247, 237, 0.3);
    border-style: solid;
    border-radius: 5px;
    border-color: #CBF7ED;
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    justify-content: space-between;
}

.titleWrapper{
    width: 80%;
    align-self: center;    
}

.book h3{
    height: 60px;
    font-size: 20px;
    border-bottom: solid rgba(175, 193, 213, 0.4);
    text-align: center;
}

.book p{
    font-size: 16px;
    padding: 10px;
}


.book button{
    background-color: rgba(175, 193, 213, 0.2);
    border-color: #CBF7ED;
    border-style: none;
    border-radius: 5px; 
}

.book button:hover{
    background-color: rgba(175, 193, 213, 0.6);
}

.book .delButton{
    padding: 10px;
    border-style: none;
    align-self: flex-end;
}

/* This has been removed temporarily, maybe add it back in the overlay */
/* .book .updateButton{
    padding: 10px;
    font-size: 15px;
    width: 60%;
    align-self: flex-end; 
    justify-self: flex-end;
} */

.book .infoButton{
    padding: 10px;
    font-size: 15px;
    width: 60%;
    align-self: flex-end; 
    justify-self: flex-end;
}

.extraWrapper{
    overflow: auto;
    height: 50px;
    /* border-color: red;
    border-style: solid; */
}


/* @media (max-width: 1050px){
    .wrapper is a grid
    
    .data{
        order: 1
    }
} */

@media (max-width: 950px){
    /* At this point, move the data table above the grid so the books can sit side by side */
    /* Do I need to restructure my grid? I want to set them in the top row */
    /* Everything's in .wrapper */
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr;
        grid-template-areas: 
                    "header"
                    "data"
                    "books"
        ;
        height: 60vh;
    }

    /* Holds the data */
    .data{
        grid-area: data;
        height: 175px;
        flex-direction: row;
        width: 600px;
        border: none;
        justify-content: space-between;
        margin: auto;
        align-items: center;
    }

    .newBookButton {
        margin: 0;
    }


    /* Holds 'The Library' title */
    .header{
        grid-area: header;
    }

    /* Holds the individual books */
    .bookWrapper{
        grid-area:books;
    }
}

@media (max-width: 750px){
    .data{
        flex-direction: column;
        height: 350px;
        justify-content: flex-start;
        width: 100%;
    }
}

/* .wrapper{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 30px;
} */

/* .data{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: solid rgba(175, 193, 213, 0.4);
}

.data h2{
    padding: 20px 0 20px 0;
    font-size: 30px;
}

table{
    text-align: left;
    width: 200px;
    font-size: 20px;
}

tr{
    height: 40px;
}

td{
    padding-left: 20px;
} */